

<ion-content fullscreen>
  <form [formGroup]="userForm" (ngSubmit)="login(userForm.value)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked"> Usuario o correo <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"  formControlName="nombre" name="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="password" formControlName="password"  name="password"></ion-input>
      </ion-item>
    </ion-list>
      <div class="ion-padding">
        <ion-button [disabled]="userForm.invalid" expand="block" type="submit" class="ion-no-margin">Ingresar</ion-button>
      </div>
  </form>
</ion-content>
